{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h1>Work Centers</h1>
    
    <div class="row">
        {% for wc in work_centers %}
        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5>{{ wc.name }}</h5>
                    <p>{{ wc.location }}</p>
                </div>
            </div>
        </div>
        {% empty %}
        <p>No work centers found</p>
        {% endfor %}
    </div>
</div>
{% endblock %}